.layout {}

.leftFloat, .rightFloat {
  position: fixed;
  top: 30%;
  /*transform: translateY(-100%);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2rem;
}

.leftFloat {
  left: 1rem;
}

.leftFloat > svg {
  margin-top: 1em;
  /*transform: translateX(-50%);*/
}

.rightFloat {
  right: 1rem;
}

.vText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
